.loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 3px solid rgb(92, 91, 91);
  border-top: 3px solid white;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
